@model AimlBotWeb.Messages.MessageModel

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>MessageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<p>
    <span style="display:inline-block"><a class="btn btn-default" href="@Url.Action("Update")">Изменить</a></span>
    <span style="display:inline-block"><a class="btn btn-default" href="@Url.Action("All")">Назад к списку</a></span>
</p>
