@model AimlBotWeb.Features.Products.ProductModel

@{
    ViewBag.Title = "Детали продукта";
}

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sortament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sortament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>

    </dl>
</div>
<p>
    <span style="display:inline-block"><a class="btn btn-default" href="@Url.Action("Update")">Изменить</a></span>
    <span style="display:inline-block"><a class="btn btn-default" href="@Url.Action("All")">Назад к списку</a></span>
</p>